{% extends "main/layout.html" %}
{% load humanize %}
{% load static %}
{% block title %}{{ crypto.symbol|default:"Деталі" }} - Крипто Дашборд{% endblock %}

{% block content %}


<div class="detail-container">
    <a href="{% url 'index' %}" class="back-btn">← Повернутися до списку</a>
    
    {% if crypto %}
    <div class="detail-header">
        <div class="detail-title">
            <h1>{{ crypto.symbol }} <span class="badge">Crypto</span></h1>
        </div>
        <div class="detail-price-block">
            <p class="main-price">${{ crypto.price|intcomma }}</p>
            <p class="timestamp">Останнє оновлення: {{ crypto.timestamp|date:"d M Y, H:i:s" }}</p>
        </div>
    </div>


    <div class="chart-container" style="height: 400px;">
        <canvas id="cryptoChart"></canvas>
    </div>

    {{ labels_json|json_script:"labels-data" }}
    {{ prices_json|json_script:"prices-data" }}

    <script src="{% static 'js/crypto_chart.js' %}"></script>

    

    
    {% else %}
    <div class="detail-header">
        <div class="detail-title">
            <h1>Монету не знайдено :(</h1>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}