{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{% static 'main/css/style.css'%}">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type = "module"src="{% static 'main/js/main.js' %}"></script>
    <script type = "module"src="{% static 'main/js/detailView.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
    {% block content %}

    {% endblock %}

</body>
</html>